*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
h1{
  color:#fff;
  background: #444;
  font-size: 24px;
}
p{
  background-color: blue;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.container{
  color:#fff;
  background-color: gray;
  font-size:24px;
  font-weight: bold;
}
.container2{
  color:blue;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
}
.container3{
  color:#333;
  display: inline-block;
  width:100%;
  height:auto;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}